body {
    background-color:  #213657;
}

h1 {
    text-align: center;
    color: #FFF3A2;
    font-size: 45px;
}

h2 {
    text-align: center;
    color: #FFF3A2;
    font-size: 28px;
}

.avisos {
    width: 380px;
    color: #FFF3A2;
    margin-left: 60px;
    margin-top: 60px;
    min-height: 200px; 
    padding: 20px;
    background-color: #1d2f4b;
    border-radius: 10px;
}

.tarefas {
    width: 380px;
    color: #FFF3A2;
    margin-left: 520px;
    margin-top: -240px;
    min-height: 200px; 
    padding: 20px;
    background-color: #1d2f4b;
    border-radius: 10px;
}

.usuarios {
    width: 380px;
    color: #FFF3A2;
    margin-left: 990px;
    margin-top: -240px;
    min-height: 200px; 
    padding: 20px;
    background-color: #1d2f4b;
    border-radius: 10px;
}

.atividade {
    background-color: #FFF3A2;
    color: #24395A;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 700px;
}

.botao {
    margin-top: 50px;
}